<h2>パスワード変更</h2>

<%= form_with(model: current_user, url: profiles_path) do |f| %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "新しいパスワード" %>
  </div>

  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>

<%= link_to "戻る", :back %>
