<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>
      
      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <!--<body class="box">-->
    <div class="box">
      <%= form.label :タイトル, style: "display: inline" %>
      <%= form.text_field :title %>
    <hr>
  
      <%= form.label :開始日時, style: "display: inline" %>
      <%= form.datetime_field :start_at %>
      <%= form.label :終了日時, style: "display: inline" %>
      <%= form.datetime_field :end_at %>
    <hr>
    
      <%= form.label :repeat, '繰り返し' %>     
      <%= form.collection_select :repeat, Task.repeats_i18n, :first, :last, prompt: '選択してください' %>
      
    <label>カテゴリ選択</label>
      <%= form.label :category_id, 'カテゴリ' %>     
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: '選択してください' %>
    <hr>      
      <%= form.label :場所, style: "display: inline" %>
      <%= form.text_field :place %>
    <hr>
    <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="content" style="height: 100px"></textarea>
    <label for="floatingTextarea2">詳細</label>
    </div>
  <!--</body>-->
  <br>
  <div>
    <%= form.submit %>
  </div>
<% end %>