<div class="box">
<div id="<%= dom_id task %>">
  <p>
    <strong>Title：</strong>
    <%= task.title %>
  </p>
  <hr>
  <p>
  <div class="row">
    <div class="col-sm-5">
    <strong>開始日時：</strong>
    <%= task.start_at %>
    </div>
    <div class="col-sm-5">
    <strong>終了日時：</strong>
    <%= task.end_at %>
    </div>
    <div class="col-sm-2">
    <strong>完了</strong>
    <%= task.status_i18n %>
    </div>
  </div>
  </p>
  <hr>
  <p>
  <div class="row">
    <div class="col">
    <strong>詳細:</strong>
    <%= task.content %>
    </div>
    <div class="col">
    <strong>カテゴリ:</strong>
    <%= task.category&.name %>
    </div>
  </div>
  </p>
  <hr>
  <p>
  <div class="row justify-content-end">
    <div class="col-3">
    <strong>登録日時:</strong>
    <%= l task.created_at, format: :long %>
    </div>
    <div class="col-3">
    <strong>更新日時:</strong>
    <%= l task.updated_at, format: :long %>
    </div>
  </div>
  </p>
  </div>
</div>
