<header class="fixed navbar navbar-fixed-top navbar-inverse navbar-light" style="background-color: #e3f2fd;">
  <div class="container">
    <%= link_to "ToDoapp", root_path, id: "logo" %>
    
    <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
    <!--  <ul class="navbar-nav ml-auto">-->
    
    <!--<%  if user_signed_in?  %>-->
    <nav>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <li><%= link_to "Menu", menus_index_path, method: :get %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <!--</ul>-->
    </nav>
    
    <!--<% else %>-->
    <!--  <li class="nav-item">-->
    <!--    <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>-->
    <!--  </li>-->
    <!--  <li class="nav-item">-->
    <!--    <%= link_to "Log in", new_user_session_path, class: "nav-link" %>-->
    <!--  </li>-->
    <!--<% end %>-->
    <!--  </ul>-->
    <!--</div>-->
  </div>
</header>